
body {
     overflow-x: hidden;
}
    nav{
        margin: 0;
        display: flex;
        align-items: center;
        gap: 5rem;
    }
    nav>ul>li{
        display: none  
    }
    nav>button{
        display: none;
    }
    .logo{
        width: 87px;
        height: 66px;
    }
    .menu{
        display: block;
        width: 3.8rem;
        height: 3.8rem;
    }
    .bloc1{
        padding: 0rem;
        display: flex;
        flex-direction: column;
    }
    .bloc1>img{
        flex: 0;
        width: 390px;
        height: 341px;
    }
    .list_image{
        display: flex;
        justify-content: space-between;
        flex: 1;
    }
    .barre_verte{
        border-radius: 0px;
    }
    .text{
        font-family: "IBM Plex Sans Hebrew", sans-serif;
        font-size: 20px;
        font-weight: 600;
        align-self: end;
    }
    .p_image{
        display: flex;
        gap: 1rem;
    
    }
    .image{
        flex: 1;
        display: flex;
    }
    .p_image>div{
        flex: 1;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    .p_image>div>P{
        font-family: "Open Sans", sans-serif;
        font-weight: 400;
        font-size: 14px;
        
    }
    .p_image>div>h1{
        font-family: "IBM Plex Sans Hebrew", sans-serif;
        font-size: 20px;
        font-weight: 600;
       
    }
    hr{
        border: solid black .1rem;
    }   
    .bloc2{
        width: 100vw;
        height: 31.2rem;
        overflow-x: scroll;
        overflow-y: hidden;
    }













    
    .bloc3{
        gap: 2.3rem;
    }
    .bloc3>div>iframe{
        display: flex;
        width: 38rem;
        height: 22.2rem;
        justify-content: center;
    }
    .bloc3>h1{
        padding-top: 2rem;
    font-size: 2rem;
    text-align: center;

    }


/* brice */
.alone{
    display: none;
}
.with{
    display: flex;
    align-items: center;    
    font-size: 2rem;
    margin-bottom: 1.3rem;
    margin-top: 3.6rem;
}
.forthSection {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 0;
    margin-bottom: 7rem;
    margin-top: 3.6rem;
    margin-right: 2rem;
}
.forthSection > img {
    width: 37.2rem;
    height: 21.9rem;
    border-radius: 0rem;
}
.forthSection-canalmatin> h1 {
    font-size: 3.2rem;
}
.forthSection p {
    font-size: 1.4rem;
    font-weight: 400;
}
.forthSection .forthSection-canalmatin{
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
}
.forthSection .forthSection-canalmatin .forthSection-canalmatin-icons {
    width: 2.197rem;
    height: 3.3rem;
}
.fifthSection {
    gap: 5.3rem;
    justify-content: center;
}
#none{
    display: none;
}

.fifthSection .image {
    width: 16.2rem;
    height: 15rem;
    border-radius: 0;
}
.date {
    font-size: 1.3rem;
}

.activity {
    font-size: 1.6rem;
    font-weight: 600;
}
.sixthSection {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
    margin: 0 0;
    margin-bottom: 7rem;
    margin-top: 3.6rem;
    margin-right: 2rem;
}
.sixthSection > img {
    width: 37.2rem;
    height: 21.9rem;
    border-radius: 0rem;
    align-self: start;
}
#rest{
    display: none;
}
.flex{
    display: flex;
    font-size: 3.2rem;
    font-weight: 600;
    color: var(--couleur-bouton);
    font-family: var(--font-family-grand-titre);
}
.forthSection-canalmatin p {
    font-size: 1.4rem;
    font-weight: 400;
}
.sixthSection .forthSection-canalmatin{
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
}
.forthSection-canalmatin-icons {
    width: 2.197rem;
    height: 3.3rem;
}
   /* leo */
.actu_sm{
    flex-direction: column;
    gap: 2.6rem;
}
.text_bar{
    width: 100vw;
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
    justify-content: start;
    gap: 2rem;
    padding-left: 1.2rem;
}
.text_bar>.green_bar1{
   width: 1.2rem ;
   height: 4rem;
   background-color: var(--couleur-bouton);
}
.text_bar>.green_bar2{
    display: none;
}
.text_bar>span{
    font-size: 3.2rem;
    font-weight: 600;
}
.actu_sm>.img_sm{
    background-image: url(../images/img_sm_mediaQ.svg);
    width: 100%;
    align-items: start;
    justify-content: start;
    height: 24rem;
    display: flex;
}
.img_lorem_ipsun{
    padding: 3rem 1.3rem 3rem 1.3rem;
    justify-content: center;
}
.img_lorem_ipsun_none{
    display: none;
}
.last_part{
    height: 25.4rem;
}
.last_part>div{
    width: 16rem;
    height: 2.6rem;
    justify-content: center;
    gap: 2.45rem;
}
.last_image{
    width: 15rem;
    height: 10.6rem;
}
.last_part>div>img{
    width: 2.5rem;
    height:2.5rem ;

}