@media screen and (max-width: 430px) {
    body {
       overflow-x: hidden;
    }

    .alone{
        font-size: 3rem;
        align-items: center;
        text-align: center;
    }

    .forthSection {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .forthSection > img {
        width: 37.2rem;
        height: 21.9rem;
        border-radius: 0;
    }
    .forthSection h1 {
        font-size: 3.2rem;
        font-weight: 600;
        line-height: 4.16rem;
    }

    .forthSection p {
        font-size: 1.4rem;
        line-height: 1.907rem;
        font-weight: 400;
        margin-left: 2.2rem;
        margin-right: 3.6rem;
    }

    .forthSection .forthSection-canalmatin{
        display: flex;
        gap: 1rem;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .forthSection .forthSection-canalmatin .forthSection-canalmatin-icons {
        width: 2.197rem;
        height: 3.3rem;
    }

    .fifthSection {
        display: flex;
        justify-content: space-between;
    }
    
    .fifthSection .image {
        width: 16.2rem;
        height: 15rem;
        border-radius: 0;
    }

    .date {
        line-height: 1.573rem;
        font-style: italic;
        font-weight: 400;
        font-size: 1.3rem;
    }
    
    .activity {
        line-height: 2.08rem;
        font-size: 1.6rem;
        font-weight: 600;
    }




    
.actu_sm{
    flex-direction: column;
    gap: 2.6rem;
}
.text_bar{
    width: 100vw;
    writing-mode: horizontal-tb;
    transform: rotate(0deg);
    justify-content: start;
    gap: 2rem;
}
.text_bar>.green_bar1{
   width: 1.2rem ;
   height: 4rem;
   background-color: var(--couleur-bouton);
}
.text_bar>.green_bar2{
    display: none;
}
.text_bar>span{
    font-size: 3.2rem;
    font-weight: 600;
}
.actu_sm>.img_sm{
    background-image: url(../images/img_sm_mediaQ.svg);
    width: 100%;
    align-items: start;
    justify-content: start;
    height: 24rem;
    display: flex;
}
.img_lorem_ipsun{
    padding: 3rem 1.3rem 3rem 1.3rem;
    justify-content: center;
}
.img_lorem_ipsun_none{
    display: none;
}
.last_part{
    height: 25.4rem;
}
.last_part>div{
    width: 16rem;
    height: 2.6rem;
    justify-content: center;
    gap: 2.45rem;
}
.last_image{
    width: 15rem;
    height: 10.6rem;
}
.last_part>div>img{
    width: 2.5rem;
    height:2.5rem ;

}