@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Hebrew:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    border: 0;
}

:root{
    --Hebrew-fontType: "Poppins", serif;
    --Opensans-fontType: "Poppins", serif;
    --textColor: #618264;
    --primaryCOlor: #79AC78;
    --SecondaryBlackColor: #000E01;
}

html {
    font-size: 10px;
}

body{
    overflow: hidden;
    box-sizing: border-box;
}

.forthSection {
    display: flex;
    flex: 1;
}
.forthSection > img {
    width: 71.8rem;
    height: 47.1rem;
    border-radius: 2rem;
}