@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Hebrew:wght@100;200;300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Galada&family=IBM+Plex+Sans+Hebrew:wght@100;200;300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
:root {
  --couleur-bouton: #618264;
  --couleur-actu-onglet: #79ac78;
  --couleur-texte: #000e01;
  --font-size-page: 10px;
  --font-family-green-text: "Inter", serif;
  --font-family-grand-titre: "IBM Plex Sans Hebrew", serif;
  --font-family-text: "Open Sans", serif;
}
html{
  font-size: var(--font-size-page);
}
body {
  overflow-x: hidden;
  width: 100vw;
  height: 100%;
}

nav{
  margin: 1rem 4rem 0rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.logo{
  width: 10rem;
  height: 7rem;
}
nav>ul{
  display: flex;
  gap:5rem;
}
nav>ul>li{
  list-style: none;
}
nav>ul>li>a{
  font-family: var(--font-family-green-text);
  font-weight: 400;
  font-size: 2.4rem;
  text-decoration: none;
  color: black;
}
nav>ul>li>a:hover{
  text-decoration: underline solid ;
  color: var(--couleur-bouton);
  padding-bottom: .5rem;

}
nav>button{
  color:white;
  font-family: var(--font-family-green-text);
  font-weight: 700;
  font-size: 2rem;
  padding: 1.5rem 5rem;
  border-style: solid;
  border: 0.1px;
  border-radius: 5rem;
  background-color: var(--couleur-bouton);
}
.menu{
  display: none;
}
.bloc1{
  gap: 6.4rem;
  display: flex;
  padding: 5rem 4rem;
}
.description_image{
  flex:2;
  width: 100%;
  height: 62.2rem;
  background: linear-gradient(to bottom, #00000000,#000000F2), url(../images/francis.svg) center;
  background-size: cover;
  border-radius: 2rem;
}
.description_image_text_sur_image{
  display: flex;
  gap:2.5rem;
}
.description_image_text_sur_image>.green_bar{
  width: 1.5rem;
  height: 14.2rem;
  background-color: var(--couleur-bouton);
  border-radius: 2.3rem;
}
.green_bar.text_bar1{
  display: flex;
  gap:1.7rem;
}
.text_bar1>h1{
  color: white;
  font-weight: 700;
  font-size: 4rem;
  font-family: var(--font-family-grand-titre);
  width: 67.4rem;
  height: 10rem;



}
.text_bar1>p{
  color: white;
  font-weight: 400;
  font-size: 2rem;
  font-family: var(--font-family-grand-titre);

  
}











.list_image{
  display: flex;
  justify-content: space-between;
  gap: 1.68rem;
  flex: 1;
  flex-direction: column;
}
.barre_text{
  display: flex;
  align-items: center;
}
.barre_verte{
  background-color: var(--couleur-bouton);
  width: 1.3rem;
  height: 5rem;
  border-radius: 1rem;
}
.text{
  font-family: var(--font-family-grand-titre);
  font-size: 2rem;
  font-weight: 600;
  align-self: center;
  padding-left: .7rem;
}




.p_image{
  display: flex;
  gap: 1rem;

}
.image{
  flex: 1;
  display: flex;
}
.p_image>div{
  flex: 1;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.p_image>div>P{
  font-family: var(--font-family-text);
  font-weight: 400;
  font-size: 14px;
  
}

.p_image>div>h1{
  font-family: var(--font-family-grand-titre);
  font-size: 20px;
  font-weight: 600;
}

.bloc2{
  display: flex;
  justify-content: space-between;
  padding: 5rem 4rem;
}
.bloc2>div{
}
.bloc2>div>img{
  width: 340px;
  height: 350px;
}
.bloc2>div>p{
  color: var(--couleur-bouton);
  font-style: italic;
}
.bloc2>div>h1{
  color: black; 
}
.bloc3{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
 
}
.bloc3>h1{
  text-align: start;
 padding: 2rem 0rem;
 font-family: var(--font-family-grand-titre);
font-size: 4.8rem;
font-weight: 600;

}
.bloc3>div{
  display: flex; 
  justify-content: center;
}
.bloc3>div>iframe{
  border-radius: 1.6rem;
}



























































/* brice */
.alone {
  font-weight: 600;
  font-size: 4.8rem;
  margin-top: 9rem;
  margin-bottom: 12rem;
  text-align: center;
  font-family: var(--font-family-grand-titre);
}
.with{
  display: none;
  font-weight: 600;
  font-size: 4.8rem;
  margin-top: 9rem;
  margin-bottom: 12rem;
  text-align: center;
  font-family: var(--font-family-grand-titre);
}

.forthSection {
  display: flex;
  align-items: center;
  margin: 0 6.5rem;
  gap: 4.4rem;
  margin-bottom: 17rem;
}
.forthSection > img {
  width: 71.8rem;
  height: 47.1rem;
  border-radius: 2rem;
}

.forthSection-canalmatin>h1 {
  font-size: 4.8rem;
  font-weight: 600;
  color: var(--couleur-bouton);
  font-family: var(--font-family-grand-titre);
}

.forthSection p {
  font-size: 2.4rem;
  font-weight: 400;
  color: var(--font-family-text);
}

.forthSection .forthSection-canalmatin {
  display: flex;
  flex-direction: column;
  gap: 4.0rem;
}

.forthSection .forthSection-canalmatin .forthSection-canalmatin-icons {
  display: flex;
  gap: 2rem;
}
.fifthSection {
  display: flex;
  justify-content: space-between;
  padding: 0rem 6rem;
  margin-bottom: 17rem;
}

.fifthSection .image {
  width: 34rem;
  height: 35rem;
  border-radius: 0.1rem;
}

.date {
  font-family: var(--font-family-green-text);
  color: var(--couleur-actu-onglet);
  font-style: italic;
  font-weight: 400;
}

.activity {
  font-family: var(--font-family-grand-titre);
  font-size: 2.4rem;
  font-weight: 600;
}
.sixthSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 6.5rem;
  gap: 4.4rem;
  margin-bottom: 17rem;
}
.sixthSection > img {
  width: 71.8rem;
  height: 47.1rem;
  border-radius: 2rem;
}
.forthSection-canalmatin>#rest {
  font-size: 4.8rem;
  font-weight: 600;
  color: var(--couleur-bouton);
  font-family: var(--font-family-grand-titre);
}
.flex{
  display: none;
}
.forthSection-canalmatin p {
  font-size: 2.4rem;
  font-weight: 400;
  color: var(--font-family-text);
}
.sixthSection .forthSection-canalmatin {
  display: flex;
  flex-direction: column;
  gap: 4.0rem;
}
.forthSection-canalmatin-icons {
  display: flex;
  gap: 2rem;
}
/* leo */
.actu_sm{
    display: flex;
    align-items: center;
    align-items: center;
    padding: 1rem;
    width: 100vw; 
}
.text_bar{
    width: 7%;
    display: flex;                         
    gap: 1.7rem;
    align-items: center;
    justify-content: center;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}
.text_bar> div{
    width: 1.3rem;
    height: 5rem;
    background-color: var(--couleur-bouton);
}
.text_bar>span{
    color: var(--couleur-bouton);
    font-family: var(--font-family-grand-titre);
    font-size: 4.8rem;
    font-weight: 600;
}
.actu_sm>.img_sm{
    width: 93%;
    height: 58rem;
    background-image: url(../images/img_sm.svg);
    background-size:cover;
    background-repeat: no-repeat;
}       
.img_lorem_ipsun{
    display: flex;
    justify-content: space-between;
    padding: 10rem 5rem 10rem 5rem;
}
.img_lorem_ipsun>div>p{
    color: var(--couleur-bouton);
    font-style: italic;
}
.last_part{
    background-color: var(--couleur-bouton);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 5rem;
    gap: 2rem;
    height: 40rem;
}
.last_image{
    width: 50rem;
    height: 50rem;
    display: flex;  
}
.last_part>div{
   display: flex;
   gap: 6rem;
}
.last_part>div>img{
    align-items: end;
    display: flex;
}




