@import url('https://fonts.googleapis.com/css2?family=Galada&family=IBM+Plex+Sans+Hebrew:wght@100;200;300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    border: 0;
}
:root{
    --couleur-bouton: #618264;
    --couleur-actu-onglet: #79AC78;
    --couleur-texte:#000E01;
    --font-size-page:10px;
    --font-family-green-text:"Inter", serif;
    --font-family-grand-titre:"IBM Plex Sans Hebrew", serif;
    --font-family-text:"Open Sans", serif;

    
}
html{
    overflow-x: hidden;
    font-size: var(--font-size-page);
}
body{
    width: 100vw;
    height: 100%;
}
header{
margin: 0rem 1.5rem;
}
.elementnav{
    display: flex;
    justify-content: space-between;
    
}
.elementlistnavbar{
    display: flex;
    gap: 4rem;
    font-size: 1rem;
    list-style: none;
    padding: 2rem;
    font-family: var(--font-family-text);
}
a{
    text-decoration: none;
    color: var(--couleur-texte);
}
.lien{
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    color: #79AC78; 
    cursor: pointer;
    
}
.imagnav{
    width: 10rem;
    height: 6rem;
}
button{
    background-color: var(--couleur-bouton);
    width: 8rem;
    height: 3rem;
    margin: 0.5rem;
    margin-left: 1rem;
    border-radius:1.5rem;
    color: aliceblue;
}















 .actu_sm{
    display: flex;
    align-items: center;
    align-items: center;
    padding: 1rem;
    width: 100vw;

    
}
.text_bar{
    width: 7%;
    display: flex;                         
    gap: 1.7rem;
    align-items: center;
    justify-content: center;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}
.text_bar> div{
    width: 1.3rem;
    height: 5rem;
    background-color: var(--couleur-bouton);

}
.text_bar>span{
    color: var(--couleur-bouton);
    font-family: var(--font-family-grand-titre);
    font-size: 4.8rem;
    font-weight: 600;
}
.actu_sm>.img_sm{
    width: 92%;
    height: 58rem;
    background-image: url(../images/img_sm.svg);
    background-size:  no-repeat cover 100%;
}
.img_lorem_ipsun{
    display: flex;
    justify-content: space-between;
    padding: 4rem 5rem 4rem 5rem;
}
.img_lorem_ipsun>div>p{
    color: var(--couleur-bouton);
    font-style: italic;
}
